<form method="POST">
    <div class="form-group">
        <label for="ProName">Product Name</label>
        <input type="text" class="form-control" id="ProName" name="ProName" autofocus>
    </div>
    <div class="form-group">
        <label for="TinyDes">Tyni Description</label>
        <input type="text" class="form-control" id="TinyDes" name="TinyDes">
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
        <input type="number" class="form-control" id="Price" name="Price" min="0">
    </div>
    <div class="form-group">Category ID </label>
        <select class="form-control" id="CatID" name="CatID">
            {{#each this.Categories}}
                <option value={{CatID}}>{{CatName}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for="Quantity">Quantity</label>
        <input type="number" class="form-control" id="Quantity" name="Quantity">
    </div>
    <div class="form-group">
        <label for="FullDes">Full Description</label>
        <textarea class="form-control" id="FullDes" name="FullDes" rows="3"></textarea>
    </div>
    <div class="form-group d-flex justify-content-between align-items-center">
        <a class="btn btn-success" href="/admin/products" role="button">
            <i class="fa fa-backward mr-2" aria-hidden="true"></i></a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</form>